<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.unti.rabbitmq.Dao.TempDao">

    <insert id="save" parameterType="com.unti.rabbitmq.po.Temp">
        insert into temp (name,`create_date`,`update_date`,remark) values (#{name},now(),now(),#{remark})
    </insert>

</mapper>